* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #87b2ce;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background:#f1f1f1;
    width: 380px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.config {
    margin-bottom: 20px;
}

.config-group {
    margin-bottom: 15px;
}

.config-group h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 22%;
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
    border-color: black;
    border-radius: 15px;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border-radius: 15px;
}

#btnIniciar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.game-area {
    margin: 20px 0;
}

#conta {
    font-size: 22px;
    margin-bottom: 10px;
}

#resposta {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}

#btnResponder {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
